<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
	  <!--Conexion Sql Server-->
	  <add name="conexion" connectionString="Data Source=.; Initial Catalog= APLIX_ECOMERCE; user=sa; password=Sql2016!"/>
	  <!--Conexion Oracle-->
	<add name="conexionOracle" connectionString="DATA SOURCE=ADMIN_CLOUD; PASSWORD=c0nsvlt4s; USER ID=DISPLAY;" />
  </connectionStrings>
  <appSettings>
    <add key="Ip" value="localhost:50762" />
    <add key="Act_Descuento" value="N" />
    <add key="Company_Nidux" value="SUKASA" />
    <add key="grupo" value="SUKASA" />
  </appSettings>
</configuration>